.review-index-header {
    position: fixed;
    left: 70px;
    top: 450px;
    font-family: Pacifico;
    border-bottom: 1px solid black;
}

.empty-review-index-header {
    position: fixed;
    left: 70px;
    top: 300px;
    font-family: Pacifico;
    border-bottom: 1px solid black;
}

.reviews-index {
    position: fixed;
    top: 400px;
    left: 10px;
    display: none;
    min-width: 275px;
    list-style: none;
    overflow: auto;
    max-height: 250px;
}

.reviews-list {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.reviews-list > button {
    position: fixed;
    left: 255px;
}

.reviews-list li:last-child {
    color: black;
    width: 100%;
    padding-right: 20px;
}

.review-rating {
    color: seagreen;
    margin-top: -18px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Pacifico';
    font-size: 29px;
}

.review-index-header * {
    display: none;
}

.past-event-reviews > .month {
    bottom: 215px;
}

.past-event-reviews > .event-show-attendees {
    top: 430px;
    height: fit-content;
    max-height: 190px;
    overflow: auto;
    padding-bottom: 0px;
}

.past-event-reviews > .event-show-attendees > .reviews-list:last-child {
    margin-bottom: 0px;
}

.fa-star {
    position: absolute;
    color: gold;
    font-size: 25px;
    transform: translate(6px, 16px);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

