.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100vw;
    background: transparent;
    font-family: 'Pacifico', cursive;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

.nav-bar.logged-in {
    background: rgba(222, 184, 135, 0.604);
    border-bottom: .5px black ridge;
}

.nav-header {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    height: 100%;
    width: fit-content;
    left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    color: black;
    font-size: 35px;
}

.nav-header:hover {
    color: white;
    cursor: pointer;
}

.nav-links {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    min-width: max-content;
    height: 100%;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-right: 1em;
    font-size: 25px;
}

.nav-links a:hover {
    color: white;
}

.logout-button {
    margin-right: 1em;
    padding: 0;
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    font-family: Pacifico;
    font-size: 25px;
    color: white;
}

.logout-button:hover {
    cursor: pointer;
    color: burlywood;
}