.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100vw;
    background: transparent;
    font-family: 'Pacifico', cursive;
}

.nav-header {
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    height: 100%;
    width: 75%;
    left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    color: black;
}

.nav-links {
    position: relative;
    display: inline-flex;
    justify-content: space-evenly;
    width: 25%;
    height: 100%;
    top: -22px;
}

.nav-links a {
    position: relative;
    top: 15px;
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: forestgreen;
}

.logout-button {
    display: flex;
    align-items: center;
    padding-top: 9px;
    background: transparent;
    border: none;
    font-family: Pacifico;
    font-size: 16px;
    color: forestgreen;
}

.logout-button:hover {
    cursor: pointer;
    color: burlywood;
}