.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100vw;
    background: transparent;
    font-family: 'Pacifico', cursive;
    z-index: 5;
    border-bottom: .5px black ridge;
}

.nav-bar.logged-in {
    background: white;
}

.nav-header {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    height: 100%;
    width: 60%;
    left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    color: black;
    font-size: 35px;
}

.nav-links {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    width: 40%;
    height: 100%;
    top: -22px;
}

.nav-links a {
    position: relative;
    top: 15px;
    text-decoration: none;
    color: black;
    margin-right: 1em;
    font-size: 25px;
}

.nav-links a:hover {
    color: forestgreen;
}

.logout-button {
    margin-right: 1em;
    display: flex;
    padding-top: 13.5px;
    background: transparent;
    border: none;
    outline: none;
    font-family: Pacifico;
    font-size: 25px;
    color: forestgreen;
}

.logout-button:hover {
    cursor: pointer;
    color: burlywood;
}