.events-index-container {
    position: relative;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row;
    top: 55px;
    width: 100vw;
}

.create-event-link {
    height: fit-content;
    text-decoration: none;
    position: relative;
    margin-left: -15px;
}

.event-index-header {
    font-family: Montserrat;
    width: 15%;
    text-align: right;
    padding-right: 5px;
}

.create-event-container {
    position: relative; 
    margin-left: 15px;
    margin-right: 15px;
    top: 55px;
}

.events-list {
    overflow: auto;
    width: 60%;
    position: relative;
    height: 75vh;
    border: 1px black ridge;
    border-radius: 15px;
    padding-right: 20px;
}

.events-list::-webkit-scrollbar {
  display: none;
}

.event-item h3 {
    cursor: pointer;
    width: 83%;
}


.event-item button {
    top: 17px;
    position: relative;
    width: fit-content;
    outline: none;
    background: transparent;
    border: none;
    height: 25px;
    font-family: Lucida Grande;
    color: red;
    cursor: pointer;
    z-index: 10;
}

.events-list .event-item-container:last-child .event-item{
    border-bottom: none;
}

.event-item-container {
    display: flex;
    flex-direction: column;
}

.event-item {
    display: flex;
    border-bottom: 1px black ridge;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
}

.event-dropdown {
    background: rgb(225, 225, 225);
    width: 95%;
    height:0px;
    opacity: 0;
    transition: opacity, 1s;
    -webkit-transition:height, 0.3s linear;
    -moz-transition: height, 0.3s linear;
    -ms-transition: height, 0.3s linear;
    -o-transition: height, 0.3s linear;
    transition: height, 0.3s linear;
}

.event-dropdown.open {
    height:275px;
    opacity: 1;
    -webkit-transition:height, 0.3s linear;
    -moz-transition: height, 0.3s linear;
    -ms-transition: height, 0.3s linear;
    -o-transition: height, 0.3s linear;
    transition: height, 0.3s linear;
}

.event-dropdown-items {
    list-style: none;
    font-family: Montserrat;
    font-weight: 600;
    display: none;
    position: relative;
    top: 150px;
}

.event-dropdown-items li:first-child {
    height: 125px;
    background: white;
    margin-right: 40px;
    position: relative;
    top: -135px;
    margin-bottom: -115px;
}

.event-dropdown-items li:nth-child(2) {
    color: Black;
    font-size: 25px;
}


.google-map {
    height: 400px;
    width: 400px;
}
