.events-index-container {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-image: url(./background3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.events-index-container .events-list {
    background-image: url(./bulletin.jpg);
    object-fit: cover;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px ridge saddlebrown;
    border-top: none;
}

.index-left {
    margin-left: 12px;
    position: fixed;
    left: 5px;
    top: 50px;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 275px;
    height: fit-content;
    padding-bottom: 25px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
}

.create-event-box {
    margin-top: 20px;
    background: whitesmoke;
    border-radius: 5px;
    width: 70%;
    height: fit-content;
    padding-bottom: 10px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-right {
    position: fixed;
    right: 0;
    left: 285px;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.show-index-right {
    position: fixed;
    right: 0;
    left: 285px;
    height: 100vh;
    width: 100vw;
}

.create-event-link {
    margin-top: 10px;
    height: fit-content;
    background: slategray;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    color: black;
    font-family: 'Oswald';
    font-weight: 800;
    transition: 0.3s;
    width: 170px;
    text-align: center;
}

.create-event-link:hover {
    cursor: pointer;
    background: darkslategray;
    color: white; 
}

.event-show-attendees .create-event-link {
    margin-top: 10px;
    outline: none;
    border: none;
    background: gold;
}

.event-show-attendees .create-event-link:hover {
    background: darkgoldenrod;
    color: white;
}

.event-index-header {
    font-family: Montserrat;
    text-align: center;
}

.profile-edit-button {
    width: 170px;
    margin-top: 10px;
    background: slategray;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
    color: white;
    font-family: 'Oswald';
    font-weight: 800;
    font-size: 15px;
    transition: 0.3s;
}

.create-edit-button-container{
    display: flex;
    flex-direction: column;
}

.profile-edit-button:hover {
    cursor: pointer;
    background: darkslategray;
    color: white;
}

.events-list .event-item-container:first-child .event-item {
    margin-top: 0px;
}

.events-list .event-item-container:last-child {
    background: black;
}

.events-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    top: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 60vh;
    margin-top: 0;
    margin-bottom: 0;
    width: 76.3vw;
    padding-right: 0;
    padding-left: 11px;
}



.events-list::-webkit-scrollbar {
  display: none;
}

.event-item h3 {
    cursor: pointer;
    width: 160px;
    overflow-wrap: break-word;
}


.event-item button {
    width: 50px;
    background: transparent;
    outline: none;
    border: none;
    height: 50px;
    z-index: 10;
}

.event-item button:hover {
    cursor: pointer;
}

.event-item-container {
    margin-top: 10px;
    margin-right: 10px;
    width: 230px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.event-item {
    margin-top: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.70);
    box-shadow: 0px 0px 10px white;
    height: 130px;
    z-index: 5;
    transition: 0.3s;
}

.focus {
    background: white;
}

.event-item:hover {
    background: white;
    cursor: pointer;
}


.event-dropdown {
    background: rgba(119, 136, 153, 0.508);
    height:0px;
    opacity: 0;
    transition: opacity, 1s;
    -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
}

.event-dropdown.open {
    width: 230px;
    margin-top: -3px;
    padding-bottom: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: fit-content;
    padding-bottom: 20px;
    opacity: 1;
    -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
}

.event-dropdown-items {
    height: fit-content;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    list-style: none;
    font-family: Montserrat;
    font-weight: 600;
    display: none;
    position: relative;
    top: 10px;
    border-radius: 5px;
    overflow-y: scroll;
}

.event-dropdown-items::-webkit-scrollbar {
  display: none;
}

.event-dropdown-items li:first-child {
    font-size: 14px;
    text-align: center;
    border: 1.5px ridge slategray;
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 5px;
}

.event-dropdown-items li:nth-child(5) {
    float: right;
}

input.join-event-input[type=submit] {
    margin-top: 5px;
    background-color: seagreen;
    border: none;
    color: white;
    cursor: pointer;
    width: 180px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
}

.host-link {
    text-decoration: none;
}

.empty-events {
    margin-left: 50px;
    margin-top: 75px;
    font-family: Pacifico;
    font-size: 30px;
    color: white;
}

.create-form {
    position: relative;
    top: 50px;
}

.location-search-input {
    height: 35px;
    width: 200px;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    font-family: 'Oswald';
    outline: none;
    text-align: center;
    border: 1px solid black;
}

.create-inputs {
    width: fit-content;
    position: relative;
    top: 5.5vh;
    left: 225px;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.title-bar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-size: 18px;
}

.title-bar h3:nth-child(2) {
    color: rgb(0, 95, 95);
}

.create-event-container {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url(./background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.create-form .google-map {
    top: 5vh;
    left: 150px;
}

.create-center-box {
    position: fixed;
    height: 80vh;
    width: 90vw;
    top: 80px;
    border-radius: 5px;
    background: rgba(112, 128, 144, 0.805);
}

.autocomplete-dropdown-container {
    position: absolute;
    z-index: 10;
}

input.create-event-input[type=text] {
    height: 35px;
    width: 200px;
    color: black;
    border-radius: 4px;
    position: relative;
    font-family: 'Oswald';
    text-align: center;
    border: 1px solid black;
}

.description-input {
    cursor: text;
    height: 100px;
    width: 200px;
    color: black;
    border-radius: 4px;
    position: relative;
    font-family: 'Oswald';
    text-align: center;
    overflow: visible;
    border: 1px solid black;
}

input.create-event-input[type=date] {
    height: 35px;
    width: 200px;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    font-family: 'Oswald';
    text-align: center;
    padding-left: 45px;
    border: 1px solid black;
}

input.create-event-input[type=time] {
    height: 35px;
    width: 200px;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    font-family: 'Oswald';
    text-align: center;
    padding-left: 35px;
    border: 1px solid black;
}

input.create-event-input[type=submit] {
    position: fixed;
    height: 35px;
    width: 200px;
    bottom: 20vh;
    left: 53vw;
    color: black;
    background: burlywood;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Pacifico';
    border: 1px solid black;
}

.social-links {
    width: 80%;
    border: 1px solid white;
    margin-top: 15px;
    margin-left: -10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background: rgba(95, 158, 160, 0.538);
}



.sidebar-name {
    text-align: center;
    font-family: Pacifico;
    font-size: 20px;
}

#carousel-container{
    border-top: 1px solid white;
    display: flex;
    min-width: 900px;
    max-width: 1200px;
    max-height: 250px;
    position: fixed;
    bottom: -35px;
    left: 330px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#carousel-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 5px;
}

#carousel-name {
    margin-top: -5px;
    background: rebeccapurple;
    font-family: 'Montserrat';
    font-weight: 600;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.carousel-box {
    text-align: center;
    text-decoration: none;
    outline: none;
}

#carousel-title{
    font-size: 40px;
    color: white;
}

.host-link:hover, .event-details-button button:hover, input.join-event-input[type=submit]:hover {
    background: white;
    color: black;
}

.host-link {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    text-align: center;
    background: gold;
    transition: 0.3s;
}

.event-details-button {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.event-details-button button {
    outline: none;
    border: none;
    background: slategray;
    width: 100%;
    color: white;
    cursor: pointer;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
}

.attendees-num {
    text-align: center;
}

.fa-trash {
    color: gray;
    font-size: 25px;
    z-index: 15;
}

.fa-chevron-up {
    position: relative;
    left: 82px;
    bottom: -5px;
    color: gray;
    font-size: 13px;
    z-index: 25;
}

.fa-chevron-up:hover {
    cursor: pointer;
}

.event-show-elements > li {
    list-style: none;
}

.event-show-location {
    /* position: relative; */
    color: white;
    border-bottom: 1px double white;
    /* top: 375px; */
    font-family: Montserrat;
    font-weight: 600;
    font-size: 25px;
    /* width: 50vw; */
    /* height: 75px; */
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(112, 128, 144, 0.504);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    text-align: center;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    list-style: none;
    /* display: flex;
    justify-content: center; */
    /* overflow: auto; */
    
}



.fix-show {
    display: flex;
    flex-direction: column;
}

.event-show-description {
    /* position: relative; */
    /* top: 355px; */
    height: fit-content;
    width: 38vw;
    left: 150px;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: white;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.event-show-attendees {
    position: absolute;
    list-style: none;
    left: 57.5%;
    top: 144px;
    font-size: 20px;
    color: black;
    padding-left: 0px;
    width: 215px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    height: fit-content;
    max-height: 200px;
    background: rgba(255, 255, 255, 0.709);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto;
}

.event-show-attendees::-webkit-scrollbar {
  display: none;
}

.calendar-date div:first-child {
    color: white;
    position: absolute;
    bottom: 245px;
    width: 215px;
    text-align: center;
    font-family: 'OSWALD';
    font-weight: 600;
    border-bottom: 1px solid black;
    font-size: 30px;
    left: 57.5%;
}

.month {
    position: absolute;
    bottom: 175px;
    left: 57.5%;
    width: 215px;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 30px;
    background: rgb(249, 80, 80);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid white;
}

.day {
    position: absolute;
    bottom: 55px;
    height: 120px;
    left: 57.5%;
    width: 215px;
    font-size: 100px;
    font-family: sans-serif;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.event-show-attendees > li {
    padding-bottom: 7px;
}

.fa.fa-angellist{
    margin-left: 10px;
}

.fa.fa-github{
    margin-right:10px;
}


#event-attendees {
    background: gold;
    color: black;
    position: absolute;
    left: 57.5%;
    top: 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    width: 215px;
    border-bottom: 1px solid white;
    text-align: center;
    padding: 5px;
    font-family: 'Pacifico';
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fa-paw {
    font-size: 15px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.fa-map-pin {
    font-size: 30px;
    position: absolute; 
    transform: translate(100px, -54px);
    color: gray;
}

.event-show-attendees input.join-event-input[type=submit] {
    margin-top: 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 180px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 3px;
    
}

.show-background {

    bottom: 40px;
    left: 27px;
    position: absolute;
    width: 52vw;
    max-height: fit-content;
    min-height: 260px;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), slategray 10%); */
    background-color: slategray;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    border-radius: 5px;
    margin-top: 50px;
    padding-bottom: 20px;
    display: flex;
}

.host-picture {
    /* position: relative; */
    /* top: 470px; */
    width: 125px;
    height: 125px;
    border-radius: 5px;
    border: 1px solid black;
    object-fit: cover;
    z-index: 1000;
}

/* .fix-pos {
    position: absolute;
} */

.show-host-link {
    position: absolute;
    /* top: 583px; */
    left: 35px;
    z-index: 1000;
    text-decoration: none;
    background: gold;
    padding: 3px;
    color: black;
    font-family: 'Oswald';
    border-radius: 5px;
    border: 1px solid black;
    list-style: none;
    cursor: pointer;
    margin-top: -20px;
}

.fa-caret-left {
    font-size: 40px;
    position: absolute;
    left: 154px;
    color: white;
}

button.sc-bdfBwQ.kyJvRZ.rec.rec-arrow.rec.rec-arrow-left {
    background-color: gold;
}

button.sc-bdfBwQ.bTybGL.rec.rec-arrow.rec.rec-arrow-right {
    background-color: gold;
}

.show-background li {
    list-style: none;
}

.show-background {
    display: flex;
    flex-direction: column;
    z-index: 60;
    top: 335px;

}

.bottom-show-container {
    display: flex;
    justify-content: space-around;
}

.host-and-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google-map {
    z-index: 50;
    height: 50%;
    position: absolute;
}

