.profile-container {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-image: url(./background3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-container > .events-list {
    display: flex;
    flex-direction: column;
}

.profile-upcoming-events {
    height: fit-content;
}

.profile-upcoming-events > h3 {
    border-bottom: 1px solid white;
    position: relative;
    left: 10px;
    color: white;
    padding-left: 25px;
    margin-top: 55px;
    margin-bottom: 5px;
    width: 95%;
    font-family: Pacifico;
}

.profile-upcoming-events > .events-list {
    top: 0;
    height: 100%;
    position: relative;
}

.profile-past-events > h3 {
    border-bottom: 1px solid white;
    position: relative;
    left: 10px;
    color: white;
    padding-left: 25px;
    margin-top: 55px;
    margin-bottom: 5px;
    width: 95%;
    font-family: Pacifico;
}

.profile-past-events {
    height: fit-content;
    margin-top: -20px;
}

.profile-past-events .events-list {
    top: 0;
    height: 100%;
    position: relative;
}

.profile-box {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    background: rgba(119, 136, 153, 0.508);
    border-radius: 5px;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-box .event-index-header {
    margin-bottom: 0;
}

.profile-info {
    font-family: Oswald;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.profile-info li:last-child a {
    text-decoration: none;
    color: white;
}

.profile-info li:last-child:hover a {
    color: black;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid white;
    object-fit: cover;
}
